@charset "utf-8";


/* layui theme dark fix */

/* carousel */

.layui-carousel>[carousel-item]>* {
    background-color: var(--lay-color-bg-5);
}


/* custom dark */

/* background */

.background {
    /* background-image: url('https://static.wikia.nocookie.net/phigros/images/c/cb/Rainy_Heart_jacket.png') */
    background-image: url('https://static.xhustudio.eu.org/images/png/Rainy_Heart_jacket.png');
}

/* panel */

.layui-row > * > * {
    background-color: rgba(36, 36, 36, .94);
}

/* markdown */

code {
    background-color: #6666;
    color: rgba(255, 255, 255, .7);
}

.hidden {
    background-color: #888;
    color: #888;
}

.hidden:hover {
    background-color: transparent;
}

/* friend link */

.friends-page-bg-link:hover {
    background-color: #2a2424cc;
}
