@charset "utf-8";


/* layui theme dark fix */

/* layer win10 */

.layui-layer-win10 {
    border-color: var(--lay-color-border-2);
}

.layui-layer-win10 .layui-layer-btn {
    background-color: var(--lay-color-bg-2);
    border-color: var(--lay-color-border-2);
}

.layui-layer-win10.layui-layer-dialog .layui-layer-content {
    color: var(--lay-color-blue-7);
}

.layui-layer-win10 .layui-layer-btn .layui-layer-btn0 {
    border-color: var(--lay-color-blue-9);
    background-color: var(--lay-color-bg-5);
    color: var(--lay-color-text-1);
}

.layui-layer-win10 .layui-layer-btn a:hover {
    background-color: var(--lay-color-blue-10);
    border-color: var(--lay-color-blue-8);
}

/* carousel */

.layui-carousel>[carousel-item]>* {
    background-color: var(--lay-color-bg-5);
}


/* custom dark */

/* background */

.background {
    /* background-image: url('https://static.wikia.nocookie.net/phigros/images/c/cb/Rainy_Heart_jacket.png') */
    background-image: url('https://static.xhustudio.eu.org/images/png/Rainy_Heart_jacket.png');
}

/* panel */

.layui-row > * > * {
    background-color: rgba(36, 36, 36, .94);
}

/* markdown */

code {
    background-color: #6666;
    color: rgba(255, 255, 255, .7);
}

.hidden {
    background-color: #888;
    color: #888;
}

.hidden:hover {
    background-color: transparent;
}

/* friend link */

.friends-page-bg-transp {
    background-color: #3333;
}

.friends-page-bg-link:hover {
    background-color: #ffc0cb11; /* pink + 1/f alpha */
}
