@charset "utf-8";


/* layui theme dark fix */

/* layer win10 */

.layui-layer-win10 {
    border-color: var(--lay-color-border-2);
}

.layui-layer-win10 .layui-layer-btn {
    background-color: var(--lay-color-bg-2);
    border-color: var(--lay-color-border-2);
}

.layui-layer-win10.layui-layer-dialog .layui-layer-content {
    color: var(--lay-color-blue-7);
}

.layui-layer-win10 .layui-layer-btn .layui-layer-btn0 {
    border-color: var(--lay-color-blue-9);
    background-color: var(--lay-color-bg-5);
    color: var(--lay-color-text-1);
}

.layui-layer-win10 .layui-layer-btn a:hover {
    background-color: var(--lay-color-blue-10);
    border-color: var(--lay-color-blue-8);
}

/* carousel */

.layui-carousel>[carousel-item]>* {
    background-color: var(--lay-color-bg-5);
}
