@charset "utf-8";

html {
    width: 100vw;
    overflow-x: hidden;
    scrollbar-width: thin;
}

body {
    font-family: 'ZCOOL KuaiLe', 'Noto Color Emoji', 'HarmonyOS Sans SC', 'Unifont', 'Arial', sans-serif, serif;
}

.layui-text a:not(.layui-btn):hover {
    color: #6cf !important;
}

.placeholder-halfline {
    line-height: .5;
}

.placeholder-halfline::after {
    content: "\00a0";
}

/* theme switch */

@media (min-width: 260px) {
    #theme-switch {
        float: right;
    }
}

#theme-switch>* {
    line-height: 100%;
}

* {
    transition: all 200ms linear;
}

/* carousel */

div[carousel-item] > div {
    text-align: center;
}

div[carousel-item] > div > * {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* panel */

div.layui-panel, div.layui-collapse {
    border-radius: 8px;
    overflow: hidden;
}

.layui-row > * > * {
    background-color: rgb(255, 255, 255, 0.94);
}

#main-title {
    overflow-x: auto;
    overflow-y: hidden;
}

#main-title > .layui-breadcrumb {
    white-space: nowrap;
}

/* background */

#dotLine {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.background {
    position: fixed;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    filter: blur(1px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-image: url('https://static.wikia.nocookie.net/phigros/images/e/eb/Broken_Sky_jacket.png'); */
    background-image: url('https://static.xhustudio.eu.org/images/webp/Broken_Sky_jacket.webp');
    transition: background-image 200ms linear;
}

/* lunar calendar custom */

#lunar-calendar-container > .layui-card-body {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

#lunar-calendar-container > .layui-card-body > div > div {
    text-align: initial;
}

/* face */

#name-face-container > .layui-card-header {
    background-color: #c2c2c2;
    /* background-image: url('https://static.wikia.nocookie.net/phigros/images/f/fb/Miracle_Forest_%28VIP_Mix%29_jacket.png'); */
    background-image: url('https://static.xhustudio.eu.org/images/webp/Miracle_Forest__VIP_Mix__jacket.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255,255,255,.9);
    overflow: hidden;
}

#name-face-container > .layui-card-body {
    display: flex;
}

#face-container {
    width: 100px;
    height: 68px;
}

img[alt=face] {
    position: relative;
    top: -32px;
    width: inherit;
}

@media (max-width: 300px) {
    #face-container {
        display: none;
    }
    #maincontainer {
        margin-right: 0;
    }
}

#pers-desc {
    width: 100%;
}

#maincounter {
    height: 44px;
    display: flex;
    justify-content: space-around;
    line-height: 1.4;
    margin-right: 12px;
}

#maincounter > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#communi-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#communi-container * {
    display: inline-block;
    width: 20px;
    text-align: center;
}

/* pageload progress */

*[lay-filter=pageload-progress] {
    height: 2px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 1;
}

*[lay-filter=pageload-progress] > * {
    height: 100%;
}

/* postcard */

.postcard {
    background-color: rgba(255, 255, 255, .04);
    display: block;
	height: 300px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    color: rgba(255, 255, 255, .9);
}

.postcard:hover {
    color: #fff;
}

.postcard:hover > .postcard-bg {
    filter: blur(1px);
    transform: scale(1.1);
}

.postcard-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 200ms linear;
}

.postcard-desc {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    line-height: 1.5;
}

/* markdown */

code {
    border-radius: 4px;
    background-color: #dddc;
    color: rgba(0, 0, 0, .8);
    font-family: monospace;
    padding: 0 4px;
}

pre.layui-code {
    border: initial;
}

.layui-text img {
    max-width: 100%;
    border-radius: 4px;
}

.hidden {
    background-color: #5f5f5f;
    transition: color,background-color 200ms linear;
}

.hidden:hover {
    background-color: transparent;
}

/* tree */

.layui-tree * {
    transition: none;
}

/* layer */

.layui-layer {
    transition: none;
}

.layui-layer .layui-card {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none;
}

.layui-layer .layui-card-header {
    display: none;
}

/* footer */

#footer {
    padding: 4px;
    width: 100%;
    opacity: .9;
    position: fixed;
    bottom: 0;
}

#footer-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 120%;
}

#footer-main > * {
    text-align: center;
    padding: 0 4px;
}

#footer-placeholder {
    height: 32px;
}

/* friend link */

#friend-link-container {
    text-align: initial;
}

#friend-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 48px;
    line-height: 1.333;
}

#friend-links > * {
    width: 0;
    white-space: nowrap;
}

.personal-link:hover {
    color: #6cf;
}

.friends-page-bg-transp {
    transition: background-color 200ms linear;
    background-color: #fff6;
}

.friends-page-bg-link > .layui-card-body {
    height: 64px;
    display: flex;
}

.friends-page-bg-link:hover {
    background-color: #f0f8ff66; /* aliceblue + 6/f alpha */
    backdrop-filter: blur(1px);
}

.friends-page-icon {
    width: 64px;
    height: 64px;
    object-fit: cover;
    object-position: center;
}

.friends-page-icon-org {
    object-fit: scale-down;
}

.friends-page-desc {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    line-height: 16px;
    padding-left: 8px;
}

/* post index */

#post-index-container {
    transition: none;
}
