@charset "utf-8";

/* theme switch */

@media (min-width: 260px) {
    #theme-switch {
        float: right;
    }
}

#theme-switch>* {
    line-height: 100%;
}

/* carousel */

div[carousel-item]>div {
    text-align: center;
}

div[carousel-item]>div>* {
    height: inherit;
}

/* panel */

div.layui-panel {
    border-radius: 8px;
}

/* background */

.background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* lunar calendar custom */

#name-face-container > .layui-card-body,
#lunar-calendar-container > .layui-card-body {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

#lunar-calendar-container > .layui-card-body > div {
    text-align: initial;
}

/* fortune */

/* #lunar-calendar-container > .layui-card-body > * {
    padding: 6px 0;
} */


/* face */

img[alt=face] {
    border-color: #6cf;
    border-radius: 64px;
}
